static/* linguist-vendored
*/bootstrap-datetimepicker.min.js linguist-vendored
*/jquery-2.1.1.min.js linguist-vendored
*/moment.min.js linguist-vendored
*/bootstrap-datetimepicker.min.css linguist-vendored
