{% extends "blog/base.html" %}
{% block content %}

<div class="col-12" style="padding:0px;">
  <article class="content-section">
    <div>
      <div class="article-datetime">
        <p>{{ object.date_posted|date:"F j, Y, H:i" }}</p>
      </div>
      <p class="article-title">{% if object.title %}{{object.title}}{% else %}{{ object.date_posted|date:"F j, Y, H:i" }}{% endif %}</p>
      <p class="article-content">{{ object.content }}</p>
      {% if object.image %}<img src="{{ object.image.url}}" class="article-photo">{% endif %}
      {% if object.audio %}<audio controls style="opacity:1;"><source src="{{ object.audio.url}}" type="audio/mpeg"></audio>{% endif %}

      <!-- allowing only the author to update or delete his or her posts -->
      <!-- the same settings need to be enabled in the blog/views.py file -->

      <!--{% if object.author == user %}
        <div class="article-buttons">
          <a class="button secondary_button short_button" href="{% url 'post-update' object.id %}">Update</a>
          <a class="button alert_button short_button" href="{% url 'post-delete' object.id %}">Delete</a>
        </div>
      {% else %}
        <p class="not_author">This post was created by {{ object.author }}.<br>Only that user can modify or delete this post.</p>
        <div style="margin-top:15px;margin-bottom:25px;">
          <button class="button disabled_button short_button" style="cursor:default;">Update</button>
          <button class="button disabled_button short_button" style="cursor:default;">Delete</button>
        </div>
      {% endif %} -->

      <!-- allowing everyone to update or delete anyone's posts -->
      <!-- the same settings need to be enabled in the blog/views.py file -->

      <div class="article-buttons">
        <a class="button secondary_button short_button" href="{% url 'post-update' object.id %}">Update</a>
        <a class="button alert_button short_button" href="{% url 'post-delete' object.id %}">Delete</a>
      </div>

    </div>
  </article>
</div>

{% endblock content %}
