{% extends "blog/base.html" %}
{% block content %}

<div class="col-12 col-sm-9 col-md-7 col-lg-5" style="padding:0px;margin-bottom:15px;">
  <div class="content-section">
    <form method="POST">
      {% if form.non_field_errors %}
      <div class="alert alert-block alert-danger">
        {{ form.non_field_errors.0 }}
      </div>
      {% elif form.errors %}
      <div class="alert alert-block alert-danger">
        There were some errors in the form.
      </div>
      {% endif %}
      {% csrf_token %}
      <div class="auth_headline">
        <p>Create an account</p>
      </div>
      <input id="id_username" name="username" value="{{ form.username.value|default_if_none:'' }}" placeholder="Username" class="auth_input" type="text" autocomplete="username" maxlength="150" required>
      <span class="auth_helptext">
        Maximum 150 characters. Only letters, digits and @/./+/-/_ characters.
      </span>
      {% if form.username.errors %}
      {% for error in form.username.errors %}
      <div class="invalid-feedback">
        {{ error }}
      </div>
      {% endfor %}
      {% endif %}
      <input id="id_password1" name="password1" placeholder="Password" class="auth_input" type="password" autocomplete="new-password" required>
      <span class="auth_helptext">
        <ul>
          <li>Your password shouldn't be too similar to your other personal information.</li>
          <li>Your password need to be at least 8 characters long.</li>
          <li>Your password can’t be a commonly used password.</li>
          <li>Your password can’t be entirely numeric.</li>
        </ul>
      </span>
      {% if form.password1.errors %}
      {% for error in form.password1.errors %}
      <div class="invalid-feedback">
        {{ error }}
      </div>
      {% endfor %}
      {% endif %}
      <input id="id_password2" name="password2" placeholder="Password" class="auth_input" type="password" autocomplete="new-password" required>
      <span class="auth_helptext">
        Please enter your password again.
      </span>
      {% if form.password2.errors %}
      {% for error in form.password2.errors %}
      <div class="invalid-feedback">
        {{ error }}
      </div>
      {% endfor %}
      {% endif %}
      <button class="button auth_button" type="submit" style="margin-top:38px;">Sign up</button>
    </form>
    <div style="padding-top:1rem;">
      <div class="auth_note">
        Already Have An Account? <a style="margin-left:4px;color:#009b72;" href="{% url 'login' %}">Sign In</a>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
